main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sign-up-container {
    padding: 30px;
    background-color: hsl(139, 54%, 83%);
    color: hsl(135, 10%, 23%);
    border-radius: 4px;
}

form {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    width: 100%;
}

#button-send {
    width: 100%;
}
